
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wallpoet';
  src: url('/fonts/Wallpoet.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
