
<!-- Primary Meta Tags -->
<title>Bug Bounties</title>
<meta name="title" content="Bug Bounties">
<meta name="description" content="List of companies who accept responsible disclosure of security vulnerabilities">
<link rel="canonical" href="https://bug-bounties.as93.net/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" hreflang="en" href="https://bug-bounties.as93.net/">
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="theme-color" content="#FDC500">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://bug-bounties.as93.net/">
<meta property="og:title" content="Bug Bounties">
<meta property="og:description" content="List of companies who accept responsible disclosure of security vulnerabilities">
<meta property="og:image" content="https://bug-bounties.as93.net/banner.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://bug-bounties.as93.net/">
<meta name="twitter:title" content="Bug Bounties">
<meta name="twitter:description" content="List of companies who accept responsible disclosure of security vulnerabilities">
<meta name="twitter:image" content="https://bug-bounties.as93.net/banner.png">
<meta name="twitter:site" content="@Lissy_Sykes">

<!-- Hit count -->
<script defer data-domain="bug-bounties.as93.net" src="https://no-track.as93.net/js/script.js"></script>

<!-- JSON-LD Structure -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://bug-bounties.as93.net/",
    "name": "Bug Bounties",
    "description": "List of companies who accept responsible disclosure of security vulnerabilities",
    "publisher": {
      "@type": "Organization",
      "name": "Alicia Sykes",
      "logo": {
        "@type": "ImageObject",
        "url": "https://github.com/lissy93.png"
      }
    }
  }
  </script>
  